body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  text-align: center;
}

/* Importing Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/* Global Styles */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
font-family: "Poppins", sans-serif;
}

:root {
--bg-color: #0b0c10;
--text-color: #e5e5e5;
--main-color: #fca311;
--sec-bg-color: #1f2833;
}

html {
font-size: 62.5%;
overflow-x: hidden;
}

body {
color: var(--text-color);
background: var(--sec-bg-color);
}

/* Header Styles */
.header {
position: fixed;
top: 0;
left: 0;
width: 100%;
padding: 1rem 5%;
background: rgba(0, 0, 0, 0.85);
display: flex;
align-items: center;
justify-content: space-between;
z-index: 100;
}

.header-left {
display: flex;
align-items: center;
}

.logo-img1 {
height: 70px;
}

.logo-img2 {
height: 45px;
}

/* Navbar Styles */
.navbar {
display: flex;
gap: 2rem;
}

.nav-links {
list-style: none;
display: flex;
gap: 3rem;
}

.nav-links a {
font-size: 1.6rem;
color: var(--text-color);
transition: color 0.3s;
}

.nav-links a:hover {
color: var(--main-color);
}

/* Hamburger Menu */
.hamburger {
font-size: 3.5rem;
cursor: pointer;
display: none;
position: absolute;
top: 1rem;
right: 1.5rem;
}




.banner {
  background: var(--sec-bg-color);
  color: white;
  /* padding: 100px 0; */
  margin-top: 150px;
  font-size: 36px;
  font-weight: bold;
}
.memories {
  margin: 50px 0;
}
.subtitle {
  color: #e6a400;
  font-weight: bold;
}
.title {
  font-size: 32px;
  font-weight: bold;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 50px;
  max-width: 90vw;
  margin: 50px auto;
  /* padding: 20px; */
}
.gallery img {
  width: 100%;
  height: 280px ;
  /* height: auto; */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.gallery img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}


/* Footer Styles */
footer {
  background: #000000;
  color: white;
  padding: 6rem 4rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
  min-width: 220px;
  margin: 10px;
}

h2 {
  color: #fca311;
  margin-bottom: 15px;
  font-size: 20px;
}

p, ul {
  font-size: 14px;
}

ul {
  list-style: none;
}

ul li {
  margin-bottom: 8px;
}

ul li a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

ul li a:hover {
  color: #f4a825;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
  color: white;
  font-size: 20px;
  transition: 0.3s;
}

.social-icons a:hover {
  color: #f4a825;
}

.footer-bottom {
  background-color: var(--sec-bg-color);
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 20px;
}

.highlight {
  color: #f4a825;
  font-weight: bold;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #f4a825;
  color: #092242;
  padding: 10px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.scroll-to-top:hover {
  background: #2f1d00;
  color: #f4a825;
}


/* Responsive Design */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    position: fixed;
    top: 80px;
    left: 50%;
    width: 50%;
    background: var(--bg-color);
    flex-direction: column;
    align-items: center;
    display: none;
    padding: 1rem 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

  .nav-links.active {
    display: flex;
  }

  .contact-row {
    flex-direction: column;
    align-items: center;
  }

  .contact-left iframe {
    height: 250px;
  }

  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .social-icons {
    justify-content: center;
  }
}